    a {
        text-decoration: none;
    }

    * {
        font-family: Poppins !important;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .header-wrapper {
            height: 6rem;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
    }

    .header-logo-wrapper {
            width: 300px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100%;
            background: none;
    }

    #logo {
            width: 2.7rem;
            height: 2.7rem;
    }

    #text-logo {
            margin: auto 1rem;
            font-size: 32px;
            font-weight: bold;
            color: #25476a;
            font-family: 'Ubuntu', sans-serif !important;
    }

    .alert-square {
            border-top: .2rem solid currentcolor !important;
            border-radius: 0 !important;
    }

    .dgl-title {
        font-size: 20px;
    }

    .footer-login {
        border-radius: 0 !important;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        border-top: none;
    }

    .signin-btn {
        font-weight: 600;
        font-size: 14px;
    }

    .dgl-login {
        padding: 1rem;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    @media only screen and (min-width: 768px) {
      .col-lg-6 {
        width: 45%;
      }

      .dgl-title {
        font-size: 24px;
      }
    }